
<!--
<ion-header>

  <ion-navbar>
    <ion-title>reset</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
-->


<ion-header class="inputsPageHeader">
  <ion-navbar hideBackButton>
	  <ion-buttons end>
    <button ion-button (click)="close()" class="closebutton"><ion-icon name="close-circle"></ion-icon></button>
	  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="inputForms">
	
	<div class="verticalAlignMiddle">
    	<div class="verticalAlignMiddleChild">
            <ion-list>
              <img src="assets/img/logo2.png" alt="Cloop Brand" width="100%" height="auto" />
              <form #form="ngForm" novalidate>
   
				   <ion-item class="mobileNumSelect" >
                    <ion-label stacked *ngIf="!nocode">{{ 'Phone' | translate }}</ion-label>
					  <ion-label floating *ngIf="nocode">{{ 'Phone' | translate }}</ion-label>
                        <ion-select [(ngModel)]="home.mobpref" id="mobpref" name="mobpref" multiple="false" required *ngIf="!nocode">
							<ion-option *ngFor="let result of coderesult" value="{{result.countryCode}}"> {{result.areaCode}}</ion-option>
                        </ion-select>
						 
                          <ion-input [(ngModel)]="home.mobilenumber" id="mobilenumber" name="mobilenumber" type="tel" #mobilenumber="ngModel" required pattern="[0-9]*"></ion-input>
                  </ion-item>
				  
				    <p *ngIf="(!mobilenumber.valid  && submitted)" color="danger"   class="leftvalidation">
				        {{ 'Please enter phone number' | translate }}
			     </p>

			
                
                  <button block ion-button (click)="reset(form);">{{ 'Reset password' | translate }}</button>
              </form>
            </ion-list>
		</div>
	</div>
</ion-content>
