<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>604819136009-lcp6e1threpkg4phivsju3sekg3rpj92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604819136009-lcp6e1threpkg4phivsju3sekg3rpj92</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_x8fNQnIIPusIYGJxCr1ppxMXHpSuXc</string>
	<key>GCM_SENDER_ID</key>
	<string>604819136009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloop.app</string>
	<key>PROJECT_ID</key>
	<string>cloop-3baa1</string>
	<key>STORAGE_BUCKET</key>
	<string>cloop-3baa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604819136009:ios:ed929316f6a1fa8e</string>
	<key>DATABASE_URL</key>
	<string>https://cloop-3baa1.firebaseio.com</string>
</dict>
</plist>