usage {
	ion-avatar{
		overflow: hidden;
		border-radius: 50%;
		img{
			object-fit: cover;
		    object-position: left;
		}
		.usageImg{
			background-size: contain !important;
			height: 40px;
			border-radius: 50%;
			background-position: center !important;
			background-repeat: no-repeat !important;
			transform: scale(1.8);
		}
	}
	h2{
		font-size:16px !important;
	}
	h5{
	    font-size: 18px !important;
		color: #E53935;
	}
	.list-ios > .item-block:first-child{
		border-top:0 !important;
	}
	.list-ios > .item-block:last-child{
		border-bottom:0 !important;
	}

	//for nodatamessage

}
